/*      Add timer form - timer inputs container     */
.adf__inputs-timer {
  display: flex;
}

/*      Add timer form - timer inputs     */
.adf_input-timer {
  max-width: 5rem;
}

.adf_input-timer.error {
  border: 2px solid var(--pink);
}
